{% load static %}
<header class="navbar">
  <div class="nav-left">
    <img src="{% static 'img/logo2.jpeg' %}" class="logo" alt="Logo colegio">
    <div class="nav-title"><h3>RECTOR / COORDINADOR</h3></div>
  </div>

  <nav class="nav-menu">
    <a href="{% url 'dashboard_rector' %}">Inicio</a>
    <a href="{% url 'rector_estudiantes_a_grupos' %}">Estudiantes a grupos</a>
    <a href="{% url 'rector_asignacion_docentes_grupos' %}">Asignación de Docentes</a>
  </nav>

  <div class="nav-right">
    <a href="{% url 'logout' %}" class="btn-logout">Cerrar Sesión</a>
  </div>
</header>
